<header class="zaglavlje">
  <a class="logo" routerLink="/">Printing<span>House</span></a>

  <nav class="meni">
    <a routerLink="/">Početna</a>
    <a routerLink="/pretraga">Pretraga</a>

    @if (korisnik(); as k) {
      @switch (k.tip) {
        @case ('stampar') {
          <a routerLink="/stampar">Moja štamparija</a>
          <a routerLink="/stampar/proizvodi">Proizvodi i usluge</a>
          <a routerLink="/stampar/narudzbine">Naručeni proizvodi</a>
          <a routerLink="/stampar/nabavke">Licitacije</a>
        }
        @case ('administrator') {
          <a routerLink="/admin">Administracija</a>
          <a routerLink="/admin/zahtevi">Zahtevi</a>
          <a routerLink="/admin/korisnici">Nalozi</a>
          <a routerLink="/admin/kategorije">Kategorije</a>
        }
        @default {
          <a routerLink="/klijent">Moj nalog</a>
          @if (k.tip === 'klijent_pravno') {
            <a routerLink="/klijent/nabavke">Javne nabavke</a>
          }
          <a routerLink="/klijent/arhiva">Arhiva proizvoda</a>
        }
      }
      <a routerLink="/profil">Profil</a>
      @if (jeKlijent()) {
        <a class="korpa" routerLink="/klijent/korpa">
          Korpa
          @if (brojUKorpi()) {
            <span class="brojac">{{ brojUKorpi() }}</span>
          }
        </a>
      }
    } @else {
      <a routerLink="/login">Prijava</a>
    }
  </nav>

  @if (korisnik(); as k) {
    <div class="korisnik">
      <span class="pozdrav">{{ k.ime }} {{ k.prezime }}</span>
      <button type="button" class="dugme-odjava" (click)="odjaviSe()">Odjava</button>
    </div>
  }
</header>
